@tailwind base;
@tailwind components;
@tailwind utilities;
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.area {
  background: linear-gradient(to left, #9b9b9b, #e7e8ff);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
.slideimg {
  position: absolute;
  inset: 0;/*親要素内にフルサイズで配置*/
  opacity: 0;
  animation: slideAnime 24s infinite ;
  z-index: 10;
}

@keyframes slideAnime {
  0%{
		opacity: 0;
	}
	20%{
		opacity: 1;
	}
	80%{
		opacity: 0;
	}
	100%{
		opacity: 0;
    z-index: 0;
	}
}
.slideimg:nth-of-type(1){
  animation-delay: 0s;
}

.slideimg:nth-of-type(2) {
  animation-delay: 8s;
}

.slideimg:nth-of-type(3) {
  animation-delay: 16s;
}

/* Circles container */
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.two{
  display: flex;
  flex-direction: column-reverse;
}
